# dependencies
node_modules/

# vinext / next build output
.vinext/
.next/
out/

# wrangler
.wrangler/
.dev.vars

# misc
.DS_Store
*.local
.env
.env.*
/dist

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.idea
.vscode
*.sw*

# typescript
*.tsbuildinfo
next-env.d.ts
